# Datos y bases de datos
data/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Entorno virtual
.venv/
env/
venv/

# VSCode
.vscode/
# Datos de prueba y resultados
results/
*.fasta
*.fa
*.fna
plasannotator.egg-info/

# Sistema
.DS_Store
Thumbs.db

# Tests
.pytest_cache/
.coverage

# Note
Metadata.tsv